@import "../../variables.scss";

.fullInfoWrapper {
  .darkLayer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgb(109, 138, 139);
    opacity: 0.6;
    z-index: 40;
  }

  .fullInfoCard {
    position: fixed;
    width: 90%;
    max-width: 496px;
    padding: 20px;
    padding-top: 0;
    background-color: #fff;
    border-radius: 6px;
    z-index: 50;

    .countIconWrapper{
      display: inline-block;
      position: relative;
      width: 26px;
      height: 26px;
      top: 14px;
      left: 12px;
      background-color: #fff;
      border-radius: 50%;
      //border: 1px solid $color_text_design;

      .countIcon{
        width: 20px;
      }

    }

    .btnClose {
      position: relative;
      top: 14px;
      left: calc(100% - 50px);
      width: 20px;
      height: 20px;
      background: #fff;
      color: $color_text_design;
      font-weight: 700;
      margin-bottom: 4px;
      border-radius: 50%;
      border: 1px solid $color_text_design;
      cursor: pointer;

    }

    .wordsEnRu {
      display: grid;
      grid-template-columns: 30% 1fr max-content;
      align-items: center;
      padding: 12px;
      
      font-size: 1.4rem;
      font-weight: 800;
      background-color: $color_text_design;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      color: #fff;

      .otherFormsBlock {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-items: end;
        align-items: baseline;
        padding-left: 1em;
        font-size: 1rem;
        font-weight: 600;

        .defenition {
          padding-right: 6px;
          font-style: italic;
          font-weight: 500;
          font-size: 0.8rem;
        }

        .defenitionVerb {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          justify-items: end;
          align-items: center;
          gap: 4px;
          padding-right: 6px;
          font-style: italic;
          font-weight: 500;
          font-size: 0.8rem;
        }

        .otherFormsVerb {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          justify-items: start;
          align-items: center;
        }
      }
    }
    .blockTitle {
      font-weight: 500;
      font-size: 0.8rem;
      color: $color_text_design;
    }

    .description {
      padding: 10px;
      padding-top: 5px;
      border: 1px solid $color_text_design;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      &__descriptText {
        white-space: pre-wrap;
      }
    }
    .usualCases {
      padding: 5px;
      padding-top: 10px;
     
      &__usualText {
        white-space: pre-wrap;
      }
    }
  }
}
